.draw {
  margin-top: 70px;
}

@media (min-width: 1024px) {
  .draw {
    margin-top: 0;
  }
}

.draw > picture > img {
  display: block;
  width: 100%;
  height: auto;
}

.draw > .container {
  background-color: var(--main-black);
}

.draw_color {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .draw_color {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 32px;
  }
}

@media (min-width: 1920px) {
  .draw_color {
    grid-template-columns: repeat(12, 1fr);
  }
}

.draw_images {
  position: relative;
  grid-column: 2;
}

.draw_images picture {
  position: absolute;
}

.draw_images picture img {
  display: block;
  width: 100%;
  height: 100%;
}

.draw_sale {
  top: 6px;
}

@media (min-width: 1024px) {
  .draw_sale {
    top: 15px;
    right: 0;
    width: 114px;
    height: 114px;
  }
}

.draw_consoles {
  top: 55px;
  width: calc(100% - 24px);
}

@media (min-width: 1024px) {
  .draw_consoles {
    top: 95px;
    right: 0;
    left: auto;
    bottom: auto;
    width: 460px;
    height: 858px;
  }
}

@media (min-width: 1920px) {
  .draw_consoles {
    width: 788px;
    height: 456px;
    top: auto;
    bottom: 70px;
  }
}

.draw_info {
  color: var(--main-white);
  margin: 25px 0 50px;
  grid-column: 1;
}

@media (min-width: 1024px) {
  .draw_info {
    margin: 162px 0 77px 0;
  }
}

@media (min-width: 1920px) {
  .draw_info {
    margin: 70px 0 98px 0;
  }
}

.draw_info h2 {
  font-family: "Archangelsk", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

@media (min-width: 1024px) {
  .draw_info h2 {
    font-size: 62px;
  }
}

@media (min-width: 1920px) {
  .draw_info h2 {
    margin-left: 164px;
  }
}

.draw_info p {
  margin-top: 20px;
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .draw_info p {
    margin-top: 25px;
    line-height: 34px;
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .draw_info p {
    margin-top: 39px;
    margin-right: 328px;
    line-height: 34px;
    font-size: 18px;
  }
}

.draw_form {
  margin-bottom: 70px;
  grid-column: 1;
}

.form_item {
  margin: 0 0 35px;
}

.form_item input {
  border: none;
  width: 100%;
  padding: 13px 0;
  color: var(--main-white);
  background-color: var(--main-black);
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 1920px) {
  .form_item input {
    padding: 0 0 13px;
  }
}

.form_item input::placeholder {
  color: var(--main-white);
  background-color: var(--main-black);
}

.form_item input:focus {
  outline: none;
}

.form_line {
  height: 1px;
  background-color: var(--main-grey);
}

.form_uploadfile {
  display: block;
}

.form_uploadfile input {
  display: none;
}

.form_uploadfile label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border: 2px dashed var(--main-grey);
  color: var(--main-white);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.form_submit {
  display: inline-block;
  margin-top: 35px;
}

.form_submit input {
  padding: 20.5px 50px;
  background-color: var(--main-yellow);
  color: var(--main-black);
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

.form_checkbox {
  margin-top: 14px;
}

.form_checkbox input {
  display: none;
}

.form_checkbox label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.checkbox_box {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--main-grey);
  position: relative;
}

.checkbox_box::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border: solid var(--main-yellow);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  left: 3px;
  opacity: 0;
}

.form_checkbox input:checked + label .checkbox_box::after {
  opacity: 1;
}

.checkbox_text {
  display: inline-block;
  color: var(--main-white);
  font-size: 12px;
  font-weight: 300;
}
