.draw {
  margin-top: 70px;
}

.draw img {
  display: block;
}

.draw_color {
  background-color: var(--main-black);
}

.draw_images img {
  position: absolute;
}

.draw_sale {
  top: 6px;
  left: 12px;
}

.draw_consoles {
  inset: 55px 12px 0px;
}

.draw_images {
  position: relative;
  padding-bottom: 211px;
}

.draw_info {
  color: var(--main-white);
  padding: 0 12px;
  margin-bottom: 70px;
}

.draw_info h2 {
  font-family: "Archangelsk", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.draw_info p {
  padding-top: 20px;
  font-weight: 400;
  line-height: 32px;
}

.form_item {
  margin: 0 12px 35px;
}

.form_item input {
  border: none;
  width: 100%;
  padding: 13px 0;
  color: var(--main-white);
  background-color: var(--main-black);
  font-size: 16px;
  font-weight: 300;
}

.form_item input::placeholder {
  color: var(--main-white);
  background-color: var(--main-black);
}

.form_item input:focus {
  outline: none;
}

.form_line {
  height: 1px;
  background-color: var(--main-grey);
}

.form_uploadfile {
  display: block;
  margin: 0 12px;
}

.form_uploadfile input {
  display: none;
}

.form_uploadfile label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border: 2px dashed var(--main-grey);
  color: var(--main-white);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
