@media (min-width: 1024px) {
  .footer_laptop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1920px) {
  .footer_laptop {
    padding: 0 320px;
  }
}

.footer_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .footer_images {
    flex-direction: row;
    margin-top: 0;
    margin: 13px 0;
    gap: 32px;
  }
}

@media (min-width: 1920px) {
  .footer_images {
    justify-content: start;
  }
}

.footer_images a {
  display: block;
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .footer_images a {
    margin-bottom: 0;
  }
}

.footer_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #e5e5e5;
  padding: 25px 0;
}

@media (min-width: 1024px) {
  .footer_text {
    flex-direction: row;
    gap: 32px;
    background-color: unset;
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: 1920px) {
  .footer_text {
    justify-content: end;
  }
}

.footer_text a {
  text-decoration: none;
  color: #000;
}

.footer_copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  background-color: var(--main-black);
  font-size: 12px;
  font-weight: 400;
  padding: 13px 0;
}
