@media (min-width: 1024px) {
  .cyberpunk {
    display: grid;
    grid-template-columns: 332px 1fr;
  }
}

@media (min-width: 1920px) {
  .cyberpunk {
    grid-template-columns: 944px 1fr;
    align-items: center;
  }
}

.cyberpunk_image {
  display: block;
  height: auto;
  width: 100%;
}

.game {
  padding: 40px 12px 70px;
  background-color: var(--main-black);
  color: var(--main-white);
}

@media (min-width: 1024px) {
  .game {
    padding: 70px 0;
  }
}

@media (min-width: 1920px) {
  .game {
    padding: 70px 320px 70px 32px;
  }

  .game > .container {
    padding: 0;
  }
}

.game h4 {
  font-family: "Archangelsk";
  font-size: 30px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .game h4 {
    font-size: 62px;
  }
}

.game_complectation {
  margin-top: 25px;
}

.game_complectation h5 {
  margin-bottom: 5px;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .game_complectation h5 {
    margin-bottom: 0;
    font-size: 24px;
  }
}

.complectation_list {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

@media (min-width: 1024px) {
  .complectation_list img {
    width: 32px;
    height: 32px;
  }
}

.complectation_list span {
  display: inline-block;
  margin-left: 18px;
}

@media (min-width: 1024px) {
  .complectation_list span {
    margin-left: 10px;
    font-size: 18px;
  }
}

.game h6 {
  margin-top: 40px;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .game h6 {
    margin-top: 70px;
    font-size: 24px;
  }
}

.game_platforms {
  margin-top: 26px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 56px;
  row-gap: 36px;
}

@media (min-width: 1024px) {
  .game_platforms {
    margin-top: 25px;
    max-width: 319px;
    column-gap: 50px;
    row-gap: 30px;
    justify-items: start;
  }
}
