.header {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.header_nav {
  position: relative;
  margin-top: 20px;
  z-index: 1;
}

@media (min-width: 1024px) {
  .header_nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
  }
}

.header_nav > a {
  display: block;
  max-width: 200px;
  max-height: 50px;
  margin: 0 auto 10px;
}

@media (min-width: 1024px) {
  .header_nav > a {
    margin: 0;
  }
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links a {
  max-height: 25px;
  max-width: 25px;
}

@media (min-width: 1024px) {
  .nav_links a {
    max-height: 30px;
    max-width: 30px;
    margin-right: 40px;
  }

  .nav_links a:last-child {
    margin-right: 0;
  }

  .nav_links a img {
    display: inline-block;
    max-height: 30px;
    max-width: 30px;
  }
}

.header_banner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.platforms_yellow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  min-width: 320px;
  max-width: 320px;
  max-height: 206px;
  padding: 30px 0;
  background-color: var(--main-black);
  z-index: 1;
  border-top: 1px solid var(--main-black);
  border-bottom: 1px solid var(--main-black);
  clip-path: polygon(0% 24%, 15% 0%, 100% 0%, 100% 76%, 85% 100%, 0% 100%);
}

@media (min-width: 1024px) {
  .platforms_yellow {
    left: unset;
    transform: unset;
    right: 36px;
    max-height: 369px;
    max-width: 624px;
    padding: 70px 70px 173px;
    clip-path: polygon(0% 14%, 8% 0%, 100% 0%, 100% 86%, 92% 100%, 0% 100%);
  }
}

@media (min-width: 1920px) {
  .platforms_yellow {
    right: 320px;
    bottom: 0;
  }
}

.platforms_yellow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--main-yellow);
  clip-path: polygon(0% 24%, 15% 0%, 100% 0%, 100% 76%, 85% 100%, 0% 100%);
  transform: scale(0.99);
  z-index: -1;
}

@media (min-width: 1024px) {
  .platforms_yellow::before {
    clip-path: polygon(0% 14%, 8% 0%, 100% 0%, 100% 86%, 92% 100%, 0% 100%);
  }
}

.platforms_yellow p {
  display: block;
  text-align: center;
  font-family: "Archangelsk", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0 13px;
}

@media (min-width: 1024px) {
  .platforms_yellow p {
    text-align: left;
    font-size: 62px;
    margin: 0;
  }
}

.platforms_yellow a {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--main-black);
  color: var(--main-yellow);
  text-decoration: none;
  padding: 19px 50px;
  margin: 25px 39px 30px 38px;
}

@media (min-width: 1024px) {
  .platforms_yellow a {
    font-size: 24px;
    margin: 25px 212px 0 0;
  }
}
