.yellow_pixels {
  display: block;
  height: auto;
  width: 100%;
}

.monitor {
  background-color: var(--main-yellow);
  padding: 70px 0;
}

@media (min-width: 1024px) {
  .monitor > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

.monitor > .container > picture {
  display: block;
  max-width: 296px;
  max-height: 273px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .monitor > .container > picture {
    max-width: 460px;
    max-height: 571px;
    margin: 0;
    justify-self: end;
    align-self: center;
  }
}

@media (min-width: 1920px) {
  .monitor > .container > picture {
    max-width: 624px;
    max-height: 536px;
    margin: 0;
    justify-self: end;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .monitor_info {
    max-width: 460px;
  }
}

@media (min-width: 1920px) {
  .monitor_info {
    max-width: 624px;
  }
}

.monitor_text {
  display: flex;
  flex-direction: column;
}

.monitor_text h3 {
  margin-top: 40px;
  font-family: "Archangelsk";
  font-size: 30px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .monitor_text h3 {
    margin-top: 0;
    font-size: 62px;
  }
}

.monitor_text p {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .monitor_text p {
    font-size: 18px;
    line-height: 34px;
  }
}

.monitor_list {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.monitor_list img {
  width: 24px;
  height: 24px;
}

@media (min-width: 1024px) {
  .monitor_list img {
    width: 32px;
    height: 32px;
  }
}

.monitor_list span {
  display: inline-block;
  margin-left: 18px;
}

@media (min-width: 1024px) {
  .monitor_list span {
    margin-left: 10px;
    font-size: 18px;
  }
}

.monitor_button {
  display: inline-block;
  margin-top: 40px;
  padding: 20.5px 50px;
  color: var(--main-yellow);
  background-color: var(--main-black);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .monitor_button {
    margin: 40px 0 0 0;
    font-size: 18px;
  }
}
