.info_text {
  padding: 70px 12px;
}

.info_text h1 {
  font-family: "Archangelsk", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 25px;
}

.info_text p {
  color: var(--main-grey);
  line-height: 32px;
}

.info img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

.info img:last-child {
  margin-bottom: 0;
}
