.info_text {
  margin: 70px 0;
}

.info_text h1 {
  font-family: "Archangelsk", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .info_text h1 {
    font-size: 62px;
    margin-right: 332px;
  }
}

@media (min-width: 1920px) {
  .info_text h1 {
    margin-right: 284px;
  }
}

.info_text p {
  color: var(--main-grey);
  line-height: 32px;
}

@media (min-width: 1024px) {
  .info_text p {
    line-height: 34px;
    font-size: 18px;
    margin-right: 164px;
  }
}

@media (min-width: 1920px) {
  .info_text p {
    margin-right: 328px;
  }
}

@media (min-width: 1024px) {
  .info_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 0 36px 70px;
  }
}

@media (min-width: 1920px) {
  .info_images {
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    margin: 0 320px 70px;
  }
}

.info_images picture {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

.info_images img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .info_images picture {
    margin-bottom: 0;
  }

  .item_3 {
    grid-column: span 2;
  }
}

@media (min-width: 1920px) {
  .info_images picture {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .info_images img {
    width: 100%;
    height: 100%;
  }

  .item_2 {
    grid-row: span 2;
  }

  .item_3 {
    grid-column: unset;
  }
}

.info_images img:last-child {
  margin-bottom: 0;
}
