@import "./base/base.css";
@import "./components/header.css";
@import "./components/section_1.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/Archangelsk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
